*{
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    margin: 16px;
}

.menu-button {
    background-color: darkgreen;
    opacity: 0.8;
    padding: 16px;
    font-size: 16px;
    color: white;
    line-height: 275%;
}

.menu-button:hover {
    opacity: 1;
}

.menu-list {
    position: absolute;
    top: 46px;
    display: none;
    padding: 0;
    margin: 0;
    background-color: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
}

.dropdown:hover .menu-list{
    display: block;
}

.menu-list .menu-item {
    padding: 16px;
    list-style-type: none;
}

.menu-list .menu-item:hover {
    background-color: ghostwhite;
}
