/* [data-description="anchors"] {
    background-color: grey;
} */

[data-description] {
    margin-left: 0;
}

/* [href][target] {
    color: green;
} */

/* [type="text"] {
    background-color: orange;
} */
