body * { 
    background-color: green;
}

li {
    font-size: 24px;
}

li:first-child {
    background-color: white;
}

/*.page-header {
    background-color: orange;
}*/

#best {
    background-color: white;
    border: 2px solid red;
}