a:link {
    background-color: black;
    color: white;
}

a:visited {
    background-color: orange;
    color: green;
}

a:hover {
    font-size: 24px;
}

button:disabled {
    border: 2px dashed grey;
}

button:enabled:hover {
    color: white;
    background-color: grey;
}

button:active, a:active {
    border: 3px solid red;
}

input[type="text"]:focus {
    background-color: orange;
}

input[type="checkbox"]:checked {
    margin-left: 20px;
}