* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

h1 {
    margin: 0 auto;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex-grow: 1;
    margin: 8px;
    padding: 16px;
    padding-bottom: 5px;
    background-color: bisque;
    width: 300px;
}