div {
    border: 2px solid black;
}

.rec-1 {
    background-color: blue;
    height: 312px;
    margin: 50px;
    padding: 50px;
}

.rec-2 {
    background-color: yellow;
    height: 208px;
    padding: 50px;
}

.rec-3 {
    background-color: green;
    height: 104px;
    padding: 50px;
}

.rec-4 {
    background-color: pink;
    height: 100px;
}

