header, footer {
    height: 50px;
}

header {
    background-color: yellow;
}

footer {
    background-color: green;
    clear: left;
}

main, .sidebar{
    float: left;
    height: 500px;
}

main {
    width: 80%;
    background-color: pink;
}

.sidebar {
    width: 20%;
    background-color: gray;
}